{% extends "base.html" %}
{% set active_page = "Salary" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ my_data.title }}
{% endblock %}


{% block body %}
    {% if user %}
    
    <div class="container-fluid">
            <h1 class="text-center text-warning" id="status">{{user}}, next salary at {{next_salary_date}}. </h1>
            <table class="table table-hover table-bordered align-middle">
                <thead class="text-primary text-center">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cell in salary %}
                    <tr>
                        <td>{{ cell.name }}</td>
                        <td class="text-center">{{ cell.salary }}</td>
                        <td class="text-center">{{ cell.date }}</td>
                    </tr>
                    {% endfor %}
            
                </tbody>
            </table>
        </div>
    {% endif%}
{% endblock %}