<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FastAPI Test">
    <meta name="author" content="NicKSarD">
    <link href="{{ url_for('static', path='/bootstrap_530/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', path='/images/main/main.ico') }}" type="image/png">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand">TEST</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {{'active' if active_page == 'Main' }}" aria-current="page" href="{{url_for('get_index')}}">Main</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {{'active' if active_page == 'Salary' }}" aria-current="page" href="{{url_for('get_salary')}}">Salary</a>
                    </li>
                    
                </ul>


                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {{'active' if active_page == 'Signin' }}" aria-current="page" href="/signin">Login</a>
                    </li>

                    <li class="nav-item">
                        <b class="nav-link" aria-current="page">|</b>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {{'active' if active_page == 'Signup' }}" aria-current="page" href=/signup>Registration</a>
                    </li>

                    <li class="nav-item">
                        <b class="nav-link" aria-current="page">|</b>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('get_signout')}}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    {% block body %}{% endblock %}
    <script src="{{ url_for('static', path='bootstrap_530/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>