{% extends "base.html" %}
{% set active_page = "Signin" %}


{% block head %} 
    <!-- <link href="{{ url_for('static', path='/css/home.css') }}" rel="stylesheet"> -->
{% endblock %}


{% block title %} 
    {{ my_data.title }}
{% endblock %}


{% block body %}

<div class="container col-3 mt-3">

    <form method="post">
        <div class="mb-3">
            {% if error %}
                <span class="text-danger">{{ error }}</span> 
            {% endif %}
        </div>

        <div class="mb-3">

            <label for="exampleFormControlInput1" class="form-label">Name:</label>
            <input class="form-control" id="exampleFormControlInput1" name="username" value="{{ username }}" placeholder="Name">

            <label for="inputPassword5" class="form-label">Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" name="password" value="{{ password }}">
        </div>

        <div>

            <!-- <a class="btn btn-warning" type="submit" role="button">Enter</a> -->
            <button class="btn btn-primary" type="submit">Enter</button> 
        </div> 

    </form>
</div>

{% endblock %}